
@{
    ViewData["Title"] = "Customer";
}

<h1>Customer</h1>
<table class="table">
    <tr>
        <th>CustomerId</th>
        <th>cust_name</th>
        <th>Cst_city</th>
        <th>email</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Smith</td>
        <td>san Fransisco</td>
        <td>smith@gmail.com</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Jackson</td>
        <td>mexico</td>
        <td>jackson@gmail.com</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Doe</td>
        <td>NewYork</td>
        <td>Doe@gmail.com</td>
    </tr>
    <tr>
        <td>4</td>
        <td>dim</td>
        <td>Nashville</td>
        <td>dim@gmail.com</td>
    </tr>
</table>





